body {
  padding: 15px;
  background: #eee;
}

.area-visivel span {
  color: #666;
  display: none;
}

.caixa {
  border: solid 1px #666;
  padding: 5px 10px;
}

.iphone {
  border: solid 1px #666;
  padding: 5px 10px;
}

/*min-width*/
@media screen and (min-width: 900px) {
  .dois {
    background-color: #f90;
  }
  span.px900 {
    display: inline-block;
  }
}

/*max-width*/
@media screen and (max-width: 600px) {
  .um {
    background-color: #f9c;
  }
  span.px600 {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .tres {
    background-color: #9cf;
  }
  span.px600-900 {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .iphone {
    background-color: rgba(255, 0, 0, 0.575);
  }
}